<html>
<body>
<h1>{{{title}}}</h1>

<div>
    <ui>
        {{#each catalog}}
            <li>
                标题: {{this.chapter}}<br>
                内容: {{{this.content}}}<br>
            </li>
        {{/each}}
    </ui>
</div>
</body>
</html>